<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :description %>
  <%= form.text_area :description, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :why_receiving %>
  <p class="help-block">Members can often get confused about who is contacting them and why. This text will be at the bottom of emails to help explain.</p>
  <div class="input-group">
    <div class="input-group-addon">You received this email because </div>
    <%= form.text_field :why_receiving, class: 'form-control', placeholder: 'you asked to hear about the NHS' %>
  </div>
</div>
<div class="form-group">
  <%= form.check_box :joinable %>
  <%= form.label :joinable %>
  <p class="help-block">
    Can any member of your organisation choose to join this group?
    <% if @group.filter? %>
      If not, only members automatically added by the filter are added.
    <% else %>
      If not, only members added by admins can see this group's existence.
    <% end %>
  </p>
</div>
<div class="form-group">
  <%= form.check_box :leavable %>
  <%= form.label :leavable %>
  <p class="help-block">
    Can any member of the group choose to leave this group?
  </p>
</div>
<% if @group.filter? %>
  <div class="form-group">
    <%= form.label :automatic_update %>
    <p class="help-block">When new members join or update their details so that they meet your group's criteria, they can be automatically added to this group. <br />Do you want this?</p>
    <%= form.check_box :automatic_update, class: 'form-control', checked: true, disabled: true %>
  </div>
<% end %>

<div class="group_users">
  <h4>Roles</h4>
  <p>
    Each group should have at least one leader.
    For example, a chairperson or secretary.
  </p>
  <%= form.fields_for :group_users do |group_user| %>
    <%= render 'group_user_fields', f: group_user %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add another role', form, :group_users %>
  </div>
</div>
