<h2>Create a new group with <%= @group.people_by_filter.count %> people in it</h2>

<%= form_for @group do |form| %>
  <%= form.hidden_field :filter, value: params[:filter] %>

  <%= render partial: 'fields', locals: {form: form} %>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
