<h1><%= @group.name %></h1>

<p><%= pluralize @group.people.count, "Member" %></p>

<%= simple_format @group.description %>

<h2>Leadership team</h2>
<% @group.group_users.each do |group_user| %>
  <%= group_user.person.full_name %>: <%= group_user.role %>
<% end %>

<% if current_user.admin? %>
  <h2>Emails:</h2>

  <ul>
    <% @group.mailouts.each do |mailout| %>
      <li>
        <%= link_to mailout.subject, group_mailout_path(@group, mailout) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New email", new_group_mailout_path(@group) %>
<% end %>
