<h1><%= @group.name %></h1>

<p><%= pluralize @group.members.count, "Member" %></p>

<%= simple_format @group.description %>

<% if current_user.member_of?(@group) %>
  <% if @group.leavable? %>
    <%= form_for [@group, current_user.membership_for(@group)], method: :delete do |form| %>
      <%= form.submit "Leave" %>
    <% end %>
  <% end %>
<% else %>
  <% if @group.joinable? %>
    <%= form_for [@group, GroupMembership.new] do |form| %>
      <%= form.submit "Join" %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <p><%= link_to "Manage members", group_group_memberships_path(@group) %></p>
<% end %>

<h2>Leadership team</h2>
<% @group.roleholder_memberships.each do |membership| %>
  <%= membership.member.full_name %>: <%= membership.role_name %>
<% end %>

<% if current_user.admin? %>
  <h2>Emails:</h2>

  <ul>
    <% @group.mailouts.each do |mailout| %>
      <li>
        <%= link_to mailout.subject, group_mailout_path(@group, mailout) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New email", new_group_mailout_path(@group) %>
<% end %>
