<!DOCTYPE html>
<html>
  <head>
    <title>Membership</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= @organisation.name %>
          </a>
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to "Groups", groups_path %></li>
          <li><%= link_to "People", people_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>
              <%= link_to current_user.email, destroy_user_session_path, method: :delete %>
              <% if current_user.person %>
                <%= current_user.person.full_name %>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
