<% if params[:post_confirmation] && current_user.created_at > @member.created_at %>
  <p>You are already a member.</p>
<% end %>

<%= bootstrap_form_for @member do |form| %>
  <%= form.text_field :first_name %>
  <%= form.text_field :last_name %>
  <%= form.text_field :phone %>
  <%= form.text_field :mobile %>
  <%= form.text_field :employer %>
  <%= form.text_field :occupation %>
  <%= form.date_select :born_at %>
  <%= form.text_field :address1 %>
  <%= form.text_field :address2 %>
  <%= form.text_field :city %>
  <%= form.text_field :country_code %>
  <%= form.text_field :post_code %>
  <%= form.text_field :mobile %>
  <%= form.submit "Save details" %>
<% end %>
